.teacher-table {
  background: white;

  border-radius: 15px;

  overflow: hidden;

  box-shadow: 0 5px 20px rgba(0,0,0,.05);
}

.teacher-table table {
  width: 100%;

  border-collapse: collapse;
}

.teacher-table thead {
  background: #0A2A66;

  color: white;
}

.teacher-table th,
.teacher-table td {
  padding: 18px;

  text-align: left;

  border-bottom: 1px solid #eef2f7;
}

.teacher-table tbody tr {
  transition: .2s;
}

.teacher-table tbody tr:hover {
  background: #f8fbff;
}

.teacher-table td:last-child {
  color: #0A2A66;

  font-weight: 600;

  cursor: pointer;
}

.teacher-table td:last-child:hover {
  color: #123A86;
}
.status {
  padding: 6px 14px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
}

.active {
  background: #dcfce7;
  color: #15803d;
}

.leave {
  background: #fee2e2;
  color: #dc2626;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

.view-btn {
  background: #dbeafe;
  color: #2563eb;
}

.edit-btn {
  background: #fef3c7;
  color: #d97706;
}

.delete-btn {
  background: #fee2e2;
  color: #dc2626;
}

.actions button:hover {
  transform: scale(1.08);
}
.no-data {
  text-align: center;
  padding: 30px;
  color: #64748b;
  font-size: 16px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.actions button {
  width: 36px;
  height: 36px;

  border: none;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.3s;
}

.view-btn {
  background: #dbeafe;
  color: #2563eb;
}

.edit-btn {
  background: #fef3c7;
  color: #d97706;
}

.delete-btn {
  background: #fee2e2;
  color: #dc2626;
}

.actions button:hover {
  transform: translateY(-2px);
}